/* reset  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-1 {
    width: 1024px;
    height: 100px;
    background-color: violet;
    margin: 20px auto;
}

.container-2 {
    width: 1024px;
    height: 500px;
    background-color: yellow;
    margin: 20px auto;
}

.container-3 {
    background-color: blue;
    width: 1024px;
    height: 620px;
    margin: 20px auto;
}

.top {
    width: 100%;
    height: 80px;
    background-color: skyblue;
}

.left {
    float: left;
    background-color: skyblue;
    width: 25%;
    height: 500px;
    margin-top: 20px;
}

.center {
    background-color: skyblue;
    width: 48%;
    height: 500px;
    margin: 20px auto;
} 

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.right {
    float: right;
    background-color: skyblue;
    width: 25%;
    height: 500px;
    margin-top: 0 20px;
}

.footer-content {
    height: 80px;
    width: 1024px;
    background-color: pink;
    margin: 20px auto;
}
